In [1]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
import gc

In [2]:
sw_df = pd.read_pickle('../data/input/sw_df_1914.pkl')
S = sw_df.s.values
W = sw_df.w.values
SW = sw_df.sw.values
del sw_df
gc.collect()


# Load roll up matrix to calcualte aggreagates:
roll_mat_df = pd.read_pickle('../data/input/roll_mat_df_1914.pkl')
roll_index = roll_mat_df.index
roll_mat_csr = csr_matrix(roll_mat_df.values)
del roll_mat_df
gc.collect()

0

In [3]:
def rollup(v):
    return roll_mat_csr*v

In [4]:
def wrmsse(preds, y_true, score_only=False, s = S, w = W, sw=SW):
    '''
    preds - Predictions: pd.DataFrame of size (30490 rows, N day columns)
    y_true - True values: pd.DataFrame of size (30490 rows, N day columns)
    sequence_length - np.array of size (42840,)
    sales_weight - sales weights based on last 28 days: np.array (42840,)
    '''
    
    if score_only:
        return np.sum(
                np.sqrt(
                    np.mean(
                        np.square(rollup(preds.values-y_true.values))# (30490, 28)をroll_up
                            ,axis=1)) * sw)/12 #<-used to be mistake here
    else: 
        score_matrix = (np.square(rollup(preds.values-y_true.values)) * np.square(w)[:, None])/ s[:, None]
        score = np.sum(np.sqrt(np.mean(score_matrix,axis=1)))/12 #<-used to be mistake here
        return score, score_matrix

In [5]:
#####dark magic + 1の値を記載
END_TRAIN = 1914
sales = pd.read_csv('../data/input/m5-forecasting-accuracy/sales_train_evaluation.csv')
# sub = pd.read_csv('../data/output/submission_baseline.csv')
sub = pd.read_csv('../data/input/submission_eva_to_val_all_fe.csv')
sub = sub[sub.id.str.endswith('evaluation')]
# sub = sub[sub.id.str.endswith('validation')]
sub.drop(['id'], axis=1, inplace=True)

DAYS_PRED = sub.shape[1]    # 28

# dayCols = ["d_{}".format(i) for i in range(1914-DAYS_PRED, 1914)]
dayCols = ["d_{}".format(i) for i in range(END_TRAIN-DAYS_PRED, END_TRAIN)]
y_true = sales[dayCols]

In [6]:
y_true.shape

(30490, 29)

In [7]:
score = wrmsse(sub, y_true, score_only=True)

In [8]:
score

32328.320662991842

In [11]:
sub.head()

,Unnamed: 0,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,30490,0.783889,0.725020,0.719282,0.741555,0.910231,1.068287,1.198409,0.801078,0.868005,...,0.783010,0.981762,1.030879,0.840752,0.747888,0.770625,0.782680,0.944883,0.997164,0.978925
1,30491,0.143639,0.146079,0.139069,0.154118,0.175808,0.250898,0.285688,0.195234,0.188153,...,0.180559,0.221895,0.229073,0.160828,0.146766,0.156750,0.169891,0.169181,0.235736,0.237132
2,30492,0.414457,0.384740,0.401166,0.384835,0.532046,0.660720,0.666332,0.423194,0.378348,...,0.561611,0.673586,0.698771,0.478442,0.418764,0.431835,0.427030,0.559299,0.725329,0.670930
3,30493,1.658047,1.380087,1.419791,1.589146,2.070715,3.243275,3.309544,1.660615,1.437783,...,1.924799,2.652830,3.465477,1.698255,1.506341,1.474247,1.456103,2.018187,3.121930,3.500604
4,30494,0.871253,0.861122,0.848022,0.922487,1.103300,1.495416,1.572273,1.025886,0.981433,...,1.024780,1.443258,1.589310,0.929200,0.874277,0.907934,0.902801,1.060429,1.439007,1.484378