In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 100)
import warnings
warnings.filterwarnings('ignore')
import gc

In [142]:
grid_df = pd.read_pickle('../data/input/grid_2015.pkl')
grid_df = grid_df.sample(frac=0.01)
grid_df.head()
#grid_df = grid_df[(grid_df.tm_m >=4)&(grid_df.tm_m<=6)]

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
38371139,HOBBIES_2_069_TX_3_validation,HOBBIES_2_069,HOBBIES_2,HOBBIES,TX_3,TX,1662,0.0,0,2.970703,3.169922,2.970703,0.050232,2.984375,0.937012,2.0,119,1.0,1.000000,1.000000,NaN,NaN,NaN,NaN,0,0,0,17,34,8,4,3,0,0
36543800,HOBBIES_1_342_TX_1_validation,HOBBIES_1_342,HOBBIES_1,HOBBIES,TX_1,TX,1602,0.0,122,18.453125,18.453125,2.000000,1.141602,18.375000,1.000000,2.0,4,1.0,1.000000,1.000000,Ramadan starts,Religious,NaN,NaN,0,0,0,18,25,6,4,3,3,0
33439243,FOODS_3_373_CA_3_validation,FOODS_3_373,FOODS_3,FOODS,CA_3,CA,1499,1.0,0,1.740234,1.980469,1.740234,0.095886,1.788086,0.878906,2.0,32,1.0,0.979980,1.000000,NaN,NaN,NaN,NaN,1,1,0,7,10,3,4,1,5,1
35646111,FOODS_2_083_WI_1_validation,FOODS_2_083,FOODS_2,FOODS,WI_1,WI,1572,0.0,138,6.980469,6.980469,6.718750,0.115845,6.910156,1.000000,2.0,62,1.0,1.008789,1.019531,NaN,NaN,NaN,NaN,0,0,0,19,21,5,4,3,1,0
41206562,HOUSEHOLD_1_002_WI_2_validation,HOUSEHOLD_1_002,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,1755,0.0,0,5.968750,7.320312,5.968750,0.353516,6.121094,0.815430,4.0,82,1.0,0.970215,1.000000,NaN,NaN,NaN,NaN,0,0,0,18,47,11,4,3,2,0

In [143]:
grid_df.shape

(110299, 34)

In [144]:
#grid_df.groupby(['store_id', 'item_id'])['sell_price'].apply(lambda x: round(x, 1).mode())

In [145]:
cat_cols = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'event_name_1', 'event_type_1', 
            'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI' ]
num_cols = ['release', 'sell_price', 'price_max', 'price_min', 'price_std', 'price_mean', 
            'price_norm', 'price_nunique', 'item_nunique', 'price_momentum', 'price_momentum_m', 'price_momentum_y']
data_col = ['d']
target_col =['sales']
unuse_cols = ['id', 'item_id', 'cat_id', 'store_id', 'event_name_2', 'event_type_2']

In [146]:
import category_encoders as ce
list_cols = list(set(cat_cols) - set(unuse_cols))
ce_ohe = ce.OneHotEncoder(cols=list_cols,handle_unknown='impute')

In [147]:
%%time
use_cols = [col for col in grid_df.columns if col not in unuse_cols]
grid_df_one_hot = ce_ohe.fit_transform(grid_df)
grid_df_one_hot.head()

CPU times: user 710 ms, sys: 453 ms, total: 1.16 s
Wall time: 1.18 s

,id,item_id,dept_id_1,dept_id_2,dept_id_3,dept_id_4,dept_id_5,dept_id_6,dept_id_7,cat_id,store_id,state_id_1,state_id_2,state_id_3,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1_1,event_name_1_2,event_name_1_3,event_name_1_4,event_name_1_5,event_name_1_6,event_name_1_7,event_name_1_8,event_name_1_9,event_name_1_10,event_name_1_11,event_name_1_12,event_name_1_13,event_name_1_14,event_name_1_15,event_name_1_16,event_name_1_17,event_name_1_18,event_name_1_19,event_name_1_20,event_name_1_21,event_name_1_22,event_name_1_23,event_name_1_24,event_name_1_25,event_name_1_26,event_name_1_27,event_name_1_28,event_name_1_29,event_name_1_30,event_name_1_31,event_type_1_1,event_type_1_2,event_type_1_3,event_type_1_4,event_type_1_5,event_name_2,event_type_2,snap_CA_1,snap_CA_2,snap_TX_1,snap_TX_2,snap_WI_1,snap_WI_2,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
38371139,HOBBIES_2_069_TX_3_validation,HOBBIES_2_069,1,0,0,0,0,0,0,HOBBIES,TX_3,1,0,0,1662,0.0,0,2.970703,3.169922,2.970703,0.050232,2.984375,0.937012,2.0,119,1.0,1.000000,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,17,34,8,4,3,0,0
36543800,HOBBIES_1_342_TX_1_validation,HOBBIES_1_342,0,1,0,0,0,0,0,HOBBIES,TX_1,1,0,0,1602,0.0,122,18.453125,18.453125,2.000000,1.141602,18.375000,1.000000,2.0,4,1.0,1.000000,1.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,NaN,1,0,1,0,1,0,18,25,6,4,3,3,0
33439243,FOODS_3_373_CA_3_validation,FOODS_3_373,0,0,1,0,0,0,0,FOODS,CA_3,0,1,0,1499,1.0,0,1.740234,1.980469,1.740234,0.095886,1.788086,0.878906,2.0,32,1.0,0.979980,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,0,1,0,1,1,0,7,10,3,4,1,5,1
35646111,FOODS_2_083_WI_1_validation,FOODS_2_083,0,0,0,1,0,0,0,FOODS,WI_1,0,0,1,1572,0.0,138,6.980469,6.980469,6.718750,0.115845,6.910156,1.000000,2.0,62,1.0,1.008789,1.019531,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,19,21,5,4,3,1,0
41206562,HOUSEHOLD_1_002_WI_2_validation,HOUSEHOLD_1_002,0,0,0,0,1,0,0,HOUSEHOLD,WI_2,0,0,1,1755,0.0,0,5.968750,7.320312,5.968750,0.353516,6.121094,0.815430,4.0,82,1.0,0.970215,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,18,47,11,4,3,2,0

In [148]:
use_oh_cols = [col for col in grid_df_one_hot.columns if col not in unuse_cols]
grid_for_ridge = grid_df_one_hot[use_oh_cols]

In [149]:
#grid_for_ridge[grid_for_ridge.isnull()]

In [150]:
grid_for_ridge.fillna(0, inplace=True)

In [160]:
TARGET      = 'sales'            
START_TRAIN = 0                  
END_TRAIN   = 1600               
P_HORIZON   = 28        
#あとは上記の期間で指定できるようにしたい。
#普通にdがカラムにあるからそれを使用すれば良い。

In [161]:
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

grid_train = grid_for_ridge[grid_for_ridge.d <= END_TRAIN]
grid_valid = grid_for_ridge[grid_for_ridge.d > END_TRAIN]

X = grid_for_ridge.drop(TARGET, axis=1)
y = grid_for_ridge[TARGET]

sc = StandardScaler()
X[num_cols] = sc.fit_transform(X[num_cols])

In [166]:
X_train = X[X.d <= END_TRAIN]
y_train = y[:X_train.shape[0]]
X_valid = X[X.d > END_TRAIN]
y_train = y[-len(X_valid):]

In [167]:
y_train.shape

(60177,)

In [168]:
#X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.1, shuffle=False)

ridge = Ridge()
ridge.fit(X_train, y_train)

y_preds = ridge.predict(X_valid)
score = mean_squared_error(y_valid, y_preds)
print(score)

ValueError: Found input variables with inconsistent numbers of samples: [50122, 60177]

In [125]:
print(ridge.intercept_) 
print(ridge.coef_)

1.0312878889734418
[-0.59793672  0.15783439  1.01568383 -0.11540079  0.44024878 -0.97365194
  0.07322244  0.13328844 -0.04312917 -0.09015927  0.0048516  -0.17089792
 -0.87719945  0.03123965  0.24699752 -0.11167406  0.20616935 -0.1841639
  0.03908899 -0.27297508  0.00408272  0.11554868  0.04840515  0.03997556
  0.57235516 -0.12223287 -0.02321123 -0.03817323  0.24782512 -0.06315102
 -0.06155902 -0.25213971 -0.3451273   0.33086282 -0.0071381  -0.08013682
 -0.14094057  0.08573561  0.10642021 -0.03118113 -0.08155928  0.01133214
  0.02850744  0.45714202  0.36784955  0.25230864  0.21776504 -0.14899065
  0.14659637 -0.05416837 -0.03429526 -0.1133317  -0.20803849 -1.05930092
  0.03997556  0.07014311 -0.0995088   0.04527212 -0.05588198  0.01465209
 -0.01465209  0.01691938 -0.01691938  0.05331228 -0.05331228 -0.02053512
  0.06931925 -0.29729356  0.          0.0594618   0.02148379  0.36560367]

In [126]:
print(len(ridge.coef_), len(grid_for_ridge.columns))

72 73

In [127]:
coef_df = pd.DataFrame({'columns': grid_for_ridge.drop('sales', axis=1).columns, 'importance': ridge.coef_})
coef_df.head(20)

          columns  importance
0       dept_id_1   -0.597937
1       dept_id_2    0.157834
2       dept_id_3    1.015684
3       dept_id_4   -0.115401
4       dept_id_5    0.440249
5       dept_id_6   -0.973652
6       dept_id_7    0.073222
7      state_id_1    0.133288
8      state_id_2   -0.043129
9      state_id_3   -0.090159
10              d    0.004852
11        release   -0.170898
12     sell_price   -0.877199
13      price_max    0.031240
14      price_min    0.246998
15      price_std   -0.111674
16     price_mean    0.206169
17     price_norm   -0.184164
18  price_nunique    0.039089
19   item_nunique   -0.272975