In [34]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
import gc

In [35]:
grid_df = pd.read_pickle('../data/input/grid_part_2015.pkl')
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
31492198,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,224,8.257812,9.578125,8.257812,0.152100,8.289062,0.862305,3.0,5,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492199,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,20,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492200,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,118,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492201,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1434,2.0,5,4.640625,4.640625,4.339844,0.145264,4.527344,1.000000,2.0,2,1.0,1.030273,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492202,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1434,3.0,16,2.880859,3.080078,2.480469,0.150146,2.941406,0.935059,4.0,161,1.0,1.002930,0.963867,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0

In [36]:
grid_df.shape

(1107815, 34)

In [37]:
grid_df.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sales', 'release', 'sell_price', 'price_max', 'price_min', 'price_std',
       'price_mean', 'price_norm', 'price_nunique', 'item_nunique',
       'price_momentum', 'price_momentum_m', 'price_momentum_y',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m', 'tm_y',
       'tm_wm', 'tm_dw', 'tm_w_end'],
      dtype='object')

In [38]:
grid_df.info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1107815 entries, 31492198 to 42494692
Data columns (total 34 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1107815 non-null  category
 1   item_id           1107815 non-null  category
 2   dept_id           1107815 non-null  category
 3   cat_id            1107815 non-null  category
 4   store_id          1107815 non-null  category
 5   state_id          1107815 non-null  category
 6   d                 1107815 non-null  int16
 7   sales             1107815 non-null  float64
 8   release           1107815 non-null  int16
 9   sell_price        1107815 non-null  float16
 10  price_max         1107815 non-null  float16
 11  price_min         1107815 non-null  float16
 12  price_std         1107815 non-null  float16
 13  price_mean        1107815 non-null  float16
 14  price_norm        1107815 non-null  float16
 15  price_nunique     1107815 non-null  float16
 16  item_nunique      1107815 non-null  int16
 17  price_momentum    1107407 non-null  float16
 18  price_momentum_m  1107815 non-null  float16
 19  price_momentum_y  1107815 non-null  float16
 20  event_name_1      90953 non-null    category
 21  event_type_1      90953 non-null    category
 22  event_name_2      0 non-null        category
 23  event_type_2      0 non-null        category
 24  snap_CA           1107815 non-null  category
 25  snap_TX           1107815 non-null  category
 26  snap_WI           1107815 non-null  category
 27  tm_d              1107815 non-null  int8
 28  tm_w              1107815 non-null  int8
 29  tm_m              1107815 non-null  int8
 30  tm_y              1107815 non-null  int8
 31  tm_wm             1107815 non-null  int8
 32  tm_dw             1107815 non-null  int8
 33  tm_w_end          1107815 non-null  int8
dtypes: category(13), float16(10), float64(1), int16(3), int8(7)
memory usage: 69.2 MB

In [43]:
grid_df[(grid_df['event_name_1'].isnull()) | (grid_df['event_name_1']!='Christmas')].shape

(1104770, 34)

In [16]:
grid_may_june = grid_df[(grid_df.tm_m==5)|(grid_df.tm_m==6)]

In [17]:
grid_may_june.event_name_1.unique()

[NaN, Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]
Categories (7, object): [Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]

In [55]:
grid_df.groupby(['store_id', 'item_id'])['sell_price'].apply(lambda x: round(x, 1).mode())

store_id  item_id
CA_1      FOODS_1_001      0     2.199219
          FOODS_1_002      0     9.500000
          FOODS_1_003      0     3.199219
          FOODS_1_004      0     2.000000
          FOODS_1_005      0     3.500000
                                  ...
          HOUSEHOLD_2_512  0     4.000000
          HOUSEHOLD_2_513  0     2.800781
          HOUSEHOLD_2_514  0    19.593750
          HOUSEHOLD_2_515  0     2.000000
          HOUSEHOLD_2_516  0     5.898438
Name: sell_price, Length: 3047, dtype: float16