In [394]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
import gc

In [397]:
grid_df = pd.read_pickle('../data/input/grid_2015.pkl')
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
31492198,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,224,8.257812,9.578125,8.257812,0.152100,8.289062,0.862305,3.0,5,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492199,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,20,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492200,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,118,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492201,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1434,2.0,5,4.640625,4.640625,4.339844,0.145264,4.527344,1.000000,2.0,2,1.0,1.030273,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492202,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1434,3.0,16,2.880859,3.080078,2.480469,0.150146,2.941406,0.935059,4.0,161,1.0,1.002930,0.963867,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0

In [398]:
grid_df.shape

(11029922, 34)

In [399]:
grid_df.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sales', 'release', 'sell_price', 'price_max', 'price_min', 'price_std',
       'price_mean', 'price_norm', 'price_nunique', 'item_nunique',
       'price_momentum', 'price_momentum_m', 'price_momentum_y',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m', 'tm_y',
       'tm_wm', 'tm_dw', 'tm_w_end'],
      dtype='object')

In [400]:
grid_df.state_id.unique()

[CA, TX, WI]
Categories (3, object): [CA, TX, WI]

In [401]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11029922 entries, 31492198 to 42522119
Data columns (total 34 columns):
 #   Column            Dtype
---  ------            -----
 0   id                category
 1   item_id           category
 2   dept_id           category
 3   cat_id            category
 4   store_id          category
 5   state_id          category
 6   d                 int16
 7   sales             float64
 8   release           int16
 9   sell_price        float16
 10  price_max         float16
 11  price_min         float16
 12  price_std         float16
 13  price_mean        float16
 14  price_norm        float16
 15  price_nunique     float16
 16  item_nunique      int16
 17  price_momentum    float16
 18  price_momentum_m  float16
 19  price_momentum_y  float16
 20  event_name_1      category
 21  event_type_1      category
 22  event_name_2      category
 23  event_type_2      category
 24  snap_CA           category
 25  snap_TX           category
 26  snap_WI           category
 27  tm_d              int8
 28  tm_w              int8
 29  tm_m              int8
 30  tm_y              int8
 31  tm_wm             int8
 32  tm_dw             int8
 33  tm_w_end          int8
dtypes: category(13), float16(10), float64(1), int16(3), int8(7)
memory usage: 674.8 MB

In [402]:
grid_df[(grid_df['event_name_1'].isnull()) | (grid_df['event_name_1']!='Christmas')].shape

(10999456, 34)

In [403]:
grid_may_june = grid_df[(grid_df.tm_m==5)|(grid_df.tm_m==6)]

In [404]:
grid_may_june.event_name_1.unique()

[NaN, Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]
Categories (7, object): [Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]

In [405]:
grid_df.groupby(['store_id', 'item_id'])['sell_price'].apply(lambda x: round(x, 1).mode())

store_id  item_id
CA_1      FOODS_1_001      0     2.199219
          FOODS_1_002      0     9.500000
          FOODS_1_003      0     3.199219
          FOODS_1_004      0     2.000000
          FOODS_1_005      0     3.500000
                                  ...
WI_3      HOUSEHOLD_2_512  0     4.000000
          HOUSEHOLD_2_513  0     2.800781
          HOUSEHOLD_2_514  0    19.593750
          HOUSEHOLD_2_515  0     2.000000
          HOUSEHOLD_2_516  0     5.898438
Name: sell_price, Length: 30476, dtype: float16

In [406]:
################# climate #####################3
climate_ca = pd.read_csv('../data/input/climate/datasets_703615_1229380_californiaw.csv')
climate_tx = pd.read_csv('../data/input/climate/datasets_703615_1229380_texasw.csv')
climate_wi = pd.read_csv('../data/input/climate/datasets_703615_1229380_wisconsinw.csv')
print(climate_ca.shape, climate_tx.shape, climate_wi.shape)
#climate = pd.concat([climate_ca, climate_tx[1:], climate_wi[:1]], axis=1)

(2000, 15) (2000, 15) (2000, 15)

In [407]:
climate_tx.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure
0,2011-01-29,18,13,0.0,6.8,1,13,16,16,16,26,55,83,0.0,1018
1,2011-01-30,18,16,0.0,6.8,1,16,17,17,17,28,81,94,15.5,1017
2,2011-01-31,18,15,0.0,5.2,1,15,16,16,16,27,65,93,0.2,1015
3,2011-02-01,18,0,0.0,8.4,1,8,7,10,7,45,62,89,4.9,1013
4,2011-02-02,3,-3,0.0,10.5,1,-6,-6,0,-6,31,10,65,0.0,1029

In [408]:
climate_ca.date_time.iloc[15].split()

['February', '13,', '2011']

In [409]:
import re
month_dict = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
climate_ca['month'] = climate_ca.date_time.apply(lambda x: month_dict[x.split()[0]])
climate_ca['date'] = climate_ca.date_time.apply(lambda x: int(x.split()[1][:-1]))
climate_ca['year'] = climate_ca.date_time.apply(lambda x: int(x.split()[-1]) )
climate_ca['year'] = climate_ca['year'] - climate_ca['year'].min()
climate_ca['state_id'] = 'CA'
climate_ca.drop(columns=['date_time'], inplace=True)

In [410]:
#climate_wi['date_time'] = pd.to_datetime(climate_wi['date_time'])
climate_wi['month'] = climate_wi['date_time'].apply(lambda x: int(x.split('-')[1]))
climate_wi['date'] = climate_wi['date_time'].apply(lambda x: int(x.split('-')[0]))
climate_wi['year'] = climate_wi['date_time'].apply(lambda x: int(x.split('-')[2]))
climate_wi['year'] = climate_wi['year'] - climate_wi['year'].min()
climate_wi['state_id'] = 'WI'
climate_wi.drop(columns=['date_time'], inplace=True)

In [411]:
#climate_tx['date_time'] = pd.to_datetime(climate_tx['date_time'])
climate_tx['month'] = climate_tx['date_time'].apply(lambda x: int(x.split('-')[1]))
climate_tx['date'] = climate_tx['date_time'].apply(lambda x: int(x.split('-')[2]))
climate_tx['year'] = climate_tx['date_time'].apply(lambda x: int(x.split('-')[0]))
climate_tx['year'] = climate_tx['year'] - climate_tx['year'].min()
climate_tx['state_id'] = 'TX'
climate_tx.drop(columns=['date_time'], inplace=True)

In [412]:
climate = pd.concat([climate_ca, climate_tx, climate_wi], axis=0)
climate.shape

(6000, 18)

In [413]:
climate[climate.state_id == 'TX'].head(20)

,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,month,date,year,state_id
0,18,13,0.0,6.8,1,13,16,16,16,26,55,83,0.0,1018,1,29,0,TX
1,18,16,0.0,6.8,1,16,17,17,17,28,81,94,15.5,1017,1,30,0,TX
2,18,15,0.0,5.2,1,15,16,16,16,27,65,93,0.2,1015,1,31,0,TX
3,18,0,0.0,8.4,1,8,7,10,7,45,62,89,4.9,1013,2,1,0,TX
4,3,-3,0.0,10.5,1,-6,-6,0,-6,31,10,65,0.0,1029,2,2,0,TX
5,2,0,0.0,10.5,1,-4,-4,1,-4,28,44,71,0.5,1030,2,3,0,TX
6,3,0,0.0,10.1,1,-2,-4,1,-4,25,47,79,0.3,1024,2,4,0,TX
7,12,0,0.0,11.0,1,0,3,7,3,27,0,64,0.0,1017,2,5,0,TX
8,17,9,0.0,7.0,1,10,13,13,13,26,34,82,2.3,1013,2,6,0,TX
9,12,7,0.0,11.0,1,4,7,10,7,37,7,71,0.0,1022,2,7,0,TX
10,12,7,0.0,10.1,1,5,7,10,7,32,20,71,0.0,1022,2,8,0,TX
11,14,0,0.0,7.0,1,6,4,8,4,42,85,90,1.5,1020,2,9,0,TX
12,5,-1,0.0,11.0,1,-3,-4,1,-4,26,21,72,0.0,1026,2,10,0,TX
13,9,0,0.0,11.0,1,-2,2,4,2,14,1,63,0.0,1028,2,11,0,TX
14,13,4,0.0,11.1,1,1,7,8,7,13,0,60,0.0,1031,2,12,0,TX
15,16,8,0.0,11.1,1,8,11,12,11,25,4,76,0.0,1027,2,13,0,TX
16,17,13,0.0,5.5,1,13,15,15,15,23,50,86,0.0,1023,2,14,0,TX
17,17,14,0.0,11.5,1,14,15,16,15,27,15,87,0.0,1022,2,15,0,TX
18,17,14,0.0,5.8,1,14,15,16,15,29,61,92,0.1,1020,2,16,0,TX
19,18,15,0.0,7.2,1,15,16,16,16,33,56,92,0.0,1018,2,17,0,TX

In [414]:
# import re
# month_dict = {'January': '01', 'February': '02', 'March': '03', 'April': '04', 'May': '05', 'June': '06', 'July': '07', 'August': '08', 'September': '09', 'October': '10', 'November': '11', 'December': '12'}
# climate_ca['date_time'] = climate_ca['date_time'].apply(lambda x: x.split()[-1]+month_dict[x.split()[0]]+x.split()[1][:-1])
# climate_ca['date_time'] = pd.to_datetime(climate_ca['date_time'], format='%y%m%d')

In [415]:
grid_df = pd.merge(grid_df, climate, left_on=['state_id', 'tm_y', 'tm_m', 'tm_d'], right_on=['state_id', 'year', 'month', 'date'], how='left')
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,month,date,year
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,224,8.257812,9.578125,8.257812,0.152100,8.289062,0.862305,3.0,5,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,6,-3,0.0,8.7,1,-19,0,1,0,9,0,22,0.0,1020,1,1,4
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,20,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,6,-3,0.0,8.7,1,-19,0,1,0,9,0,22,0.0,1020,1,1,4
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,118,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,6,-3,0.0,8.7,1,-19,0,1,0,9,0,22,0.0,1020,1,1,4
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1434,2.0,5,4.640625,4.640625,4.339844,0.145264,4.527344,1.000000,2.0,2,1.0,1.030273,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,6,-3,0.0,8.7,1,-19,0,1,0,9,0,22,0.0,1020,1,1,4
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1434,3.0,16,2.880859,3.080078,2.480469,0.150146,2.941406,0.935059,4.0,161,1.0,1.002930,0.963867,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,6,-3,0.0,8.7,1,-19,0,1,0,9,0,22,0.0,1020,1,1,4

In [416]:
grid_df[grid_df.state_id == 'WI']

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,DewPointC,FeelsLikeC,HeatIndexC,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,month,date,year
20613,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1434,0.0,224,8.257812,9.578125,8.257812,0.275635,8.328125,0.862305,3.0,5,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,-5,-13,0.0,3.4,1,-11,-17,-9,-17,31,82,89,0.0,1015,1,1,4
20614,HOBBIES_1_002_WI_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,WI_1,WI,1434,0.0,6,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,-5,-13,0.0,3.4,1,-11,-17,-9,-17,31,82,89,0.0,1015,1,1,4
20615,HOBBIES_1_003_WI_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,WI_1,WI,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,122,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,-5,-13,0.0,3.4,1,-11,-17,-9,-17,31,82,89,0.0,1015,1,1,4
20616,HOBBIES_1_004_WI_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,WI_1,WI,1434,0.0,0,4.640625,4.640625,4.339844,0.146118,4.523438,1.000000,2.0,1,1.0,1.030273,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,-5,-13,0.0,3.4,1,-11,-17,-9,-17,31,82,89,0.0,1015,1,1,4
20617,HOBBIES_1_005_WI_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,WI_1,WI,1434,0.0,14,2.880859,3.080078,2.480469,0.149414,2.941406,0.935059,4.0,144,1.0,1.002930,0.963867,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0,-5,-13,0.0,3.4,1,-11,-17,-9,-17,31,82,89,0.0,1015,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11029917,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1798,1.0,0,2.500000,2.980469,2.480469,0.171631,2.800781,0.838867,5.0,221,1.0,0.944824,0.886230,NaN,NaN,NaN,NaN,0,0,0,31,53,12,4,5,3,0,-7,-11,0.0,5.1,1,-10,-16,-9,-16,28,83,94,0.0,1024,12,31,4
11029918,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1798,0.0,0,2.000000,2.679688,2.000000,0.253174,2.507812,0.746094,4.0,132,1.0,0.796387,0.916016,NaN,NaN,NaN,NaN,0,0,0,31,53,12,4,5,3,0,-7,-11,0.0,5.1,1,-10,-16,-9,-16,28,83,94,0.0,1024,12,31,4
11029919,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1798,1.0,0,3.980469,4.378906,3.980469,0.188599,4.117188,0.908691,3.0,150,1.0,0.956543,1.000000,NaN,NaN,NaN,NaN,0,0,0,31,53,12,4,5,3,0,-7,-11,0.0,5.1,1,-10,-16,-9,-16,28,83,94,0.0,1024,12,31,4
11029920,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1798,0.0,230,1.280273,1.280273,1.280273,0.000000,1.280273,1.000000,1.0,44,1.0,1.000000,1.000000,NaN,NaN,NaN,NaN,0,0,0,31,53,12,4,5,3,0,-7,-11,0.0,5.1,1,-10,-16,-9,-16,28,83,94,0.0,1024,12,31,4
11029921,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1798,0.0,304,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.0,142,1.0,1.000000,1.000000,NaN,NaN,NaN,NaN,0,0,0,31,53,12,4,5,3,0,-7,-11,0.0,5.1,1,-10,-16,-9,-16,28,83,94,0.0,1024,12,31,4

In [417]:
grid_df.state_id.unique()

array(['CA', 'TX', 'WI'], dtype=object)

In [418]:
grid_df.shape

(11029922, 51)