In [1]:
import pandas as pd
import numpy as np
import gc

pd.set_option('display.max_columns', 100)

In [2]:
grid_df = pd.read_pickle('../data/input/grid_2015.pkl')
grid_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
31492198,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,224,8.257812,9.578125,8.257812,0.152100,8.289062,0.862305,3.0,5,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492199,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,20,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492200,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,118,1.0,1.000000,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492201,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1434,2.0,5,4.640625,4.640625,4.339844,0.145264,4.527344,1.000000,2.0,2,1.0,1.030273,1.000000,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0
31492202,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1434,3.0,16,2.880859,3.080078,2.480469,0.150146,2.941406,0.935059,4.0,161,1.0,1.002930,0.963867,NewYear,National,NaN,NaN,1,1,0,1,1,1,4,1,3,0

In [3]:
grid_df.shape

(11029922, 34)

In [4]:
grid_df.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sales', 'release', 'sell_price', 'price_max', 'price_min', 'price_std',
       'price_mean', 'price_norm', 'price_nunique', 'item_nunique',
       'price_momentum', 'price_momentum_m', 'price_momentum_y',
       'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m', 'tm_y',
       'tm_wm', 'tm_dw', 'tm_w_end'],
      dtype='object')

In [5]:
cat_cols = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'event_name_1', 'event_type_1', 
            'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI' ]
num_cols = ['d', 'sales', 'release', 'sell_price', 'price_max', 'price_min', 'price_std', 'price_mean', 
            'price_norm', 'price_nunique', 'item_nunique', 'price_momentum', 'price_momentum_m', 'price_momentum_y']
unuse_cols = ['id', 'item_id', 'cat_id', 'store_id', 'event_name_2', 'event_type_2']

In [8]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11029922 entries, 31492198 to 42522119
Data columns (total 34 columns):
 #   Column            Dtype
---  ------            -----
 0   id                category
 1   item_id           category
 2   dept_id           category
 3   cat_id            category
 4   store_id          category
 5   state_id          category
 6   d                 int16
 7   sales             float64
 8   release           int16
 9   sell_price        float16
 10  price_max         float16
 11  price_min         float16
 12  price_std         float16
 13  price_mean        float16
 14  price_norm        float16
 15  price_nunique     float16
 16  item_nunique      int16
 17  price_momentum    float16
 18  price_momentum_m  float16
 19  price_momentum_y  float16
 20  event_name_1      category
 21  event_type_1      category
 22  event_name_2      category
 23  event_type_2      category
 24  snap_CA           category
 25  snap_TX           category
 26  snap_WI           category
 27  tm_d              int8
 28  tm_w              int8
 29  tm_m              int8
 30  tm_y              int8
 31  tm_wm             int8
 32  tm_dw             int8
 33  tm_w_end          int8
dtypes: category(13), float16(10), float64(1), int16(3), int8(7)
memory usage: 674.8 MB

In [9]:
grid_df[(grid_df['event_name_1'].isnull()) | (grid_df['event_name_1']!='Christmas')].shape

(10999456, 34)

In [10]:
grid_may_june = grid_df[(grid_df.tm_m==5)|(grid_df.tm_m==6)]

In [11]:
grid_may_june.event_name_1.unique()

[NaN, Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]
Categories (7, object): [Cinco De Mayo, Mother's day, MemorialDay, NBAFinalsStart, NBAFinalsEnd, Ramadan starts, Father's day]

In [12]:
grid_df.groupby(['store_id', 'item_id'])['sell_price'].apply(lambda x: round(x, 1).mode())

store_id  item_id
CA_1      FOODS_1_001      0     2.199219
          FOODS_1_002      0     9.500000
          FOODS_1_003      0     3.199219
          FOODS_1_004      0     2.000000
          FOODS_1_005      0     3.500000
                                  ...
WI_3      HOUSEHOLD_2_512  0     4.000000
          HOUSEHOLD_2_513  0     2.800781
          HOUSEHOLD_2_514  0    19.593750
          HOUSEHOLD_2_515  0     2.000000
          HOUSEHOLD_2_516  0     5.898438
Name: sell_price, Length: 30476, dtype: float16

In [13]:
import category_encoders as ce

list_cols = list(set(cat_cols) - set(unuse_cols))
ce_ohe = ce.OneHotEncoder(cols=list_cols,handle_unknown='impute')

In [14]:
%%time
use_cols = [col for col in grid_df.columns if col not in unuse_cols]
grid_df_one_hot = ce_ohe.fit_transform(grid_df)
grid_df_one_hot.head()

,id,item_id,dept_id_1,dept_id_2,dept_id_3,dept_id_4,dept_id_5,dept_id_6,dept_id_7,cat_id,store_id,state_id_1,state_id_2,state_id_3,d,sales,release,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,event_name_1_1,event_name_1_2,event_name_1_3,event_name_1_4,event_name_1_5,event_name_1_6,event_name_1_7,event_name_1_8,event_name_1_9,event_name_1_10,event_name_1_11,event_name_1_12,event_name_1_13,event_name_1_14,event_name_1_15,event_name_1_16,event_name_1_17,event_name_1_18,event_name_1_19,event_name_1_20,event_name_1_21,event_name_1_22,event_name_1_23,event_name_1_24,event_name_1_25,event_name_1_26,event_name_1_27,event_name_1_28,event_name_1_29,event_name_1_30,event_name_1_31,event_type_1_1,event_type_1_2,event_type_1_3,event_type_1_4,event_type_1_5,event_name_2,event_type_2,snap_CA_1,snap_CA_2,snap_TX_1,snap_TX_2,snap_WI_1,snap_WI_2,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
31492198,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,1,0,0,0,0,0,0,HOBBIES,CA_1,1,0,0,1434,0.0,224,8.257812,9.578125,8.257812,0.152100,8.289062,0.862305,3.0,5,1.0,1.000000,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,1,1,1,4,1,3,0
31492199,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,1,0,0,0,0,0,0,HOBBIES,CA_1,1,0,0,1434,0.0,20,3.970703,3.970703,3.970703,0.000000,3.970703,1.000000,1.0,131,1.0,1.000000,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,1,1,1,4,1,3,0
31492200,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,1,0,0,0,0,0,0,HOBBIES,CA_1,1,0,0,1434,0.0,300,2.970703,2.970703,2.970703,0.000000,2.970703,1.000000,1.0,118,1.0,1.000000,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,1,1,1,4,1,3,0
31492201,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,1,0,0,0,0,0,0,HOBBIES,CA_1,1,0,0,1434,2.0,5,4.640625,4.640625,4.339844,0.145264,4.527344,1.000000,2.0,2,1.0,1.030273,1.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,1,1,1,4,1,3,0
31492202,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,1,0,0,0,0,0,0,HOBBIES,CA_1,1,0,0,1434,3.0,16,2.880859,3.080078,2.480469,0.150146,2.941406,0.935059,4.0,161,1.0,1.002930,0.963867,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1,0,1,0,1,0,1,1,1,4,1,3,0

In [16]:
use_cols = [col for col in grid_df.columns if col not in unuse_cols]
grid_df_one_hot[use_cols].info()

KeyError: "['event_name_1', 'snap_TX', 'event_type_1', 'dept_id', 'state_id', 'snap_CA', 'snap_WI'] not in index"